
/* 
    Created on : 06-Feb-2017, 00:06:20
    Author     : myriam
*/

body {
    text-align: center;
    background-color: white;
    margin-top: 0px;
    height: inherit;
}

img {
    height: 75px;
    width: 75px;
}
h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
}

h3{
    color: #0E5EA5;
    font-weight: bold;
}

.span1{
    font-weight: bold;
}

a:link, a:visited{
    text-decoration: none;
    color: #0392AF;
}
div #homepage{
    width: 750px;
    margin: 0 auto;
    height: 100%;
}

div #content{
    text-align: center;
}

table, td{
    margin: 0 auto;
    border: 1px #0392AF solid;
    border-collapse: collapse;
}

th {
    background-color: #0392AF;
}

tr:hover {
    background-color: #f5f5f5
}

.button1, .button2, .button3{
    color: #0E5EA5;
    font-size: 13px;
    font-weight: bold;
}

form#addMember, form#listMembers{
    display: none;
}

span.msg{
    color:red;
    font-weight: bold;
}




